<%= form_for(@order) do |f| %>
  <%= render 'shared/error_messages', object: @order %>
  <div class="row">
  	<div class="small-3 columns">
  		<%= f.label :grade, class: "right inline" %>
  	</div>
  	<div class="small-9 columns">
  		<%= f.select 		:grade, options_for_select(["110","100","90","80","70"]) %>
  	</div>
  </div>
    <%= f.text_area :notes, placeholder: "Notes for order..." %>
  <%= f.submit "Create order", class: "button small radius" %>
<% end %>