<%= form_for(@order) do |f| %>
  <%= render 'shared/error_messages', object: @order %>
  <div>
    <%= f.select 		:grade, options_for_select(["110","100","90","80","70"]) %>
    <%= f.text_area :notes, placeholder: "Notes for order..." %>
  </div>
  <%= f.submit "Post", class: "button small radius" %>
<% end %>